.service_top{
    height:228px;
    width:100%;
}
.service_top img{
    height:100%;
    width:100%;
    display: block;
}
.service_box .am-list-header{
    padding:0;
    padding-bottom:10px;
}
.twoEllipsis2{
    overflow:hidden;
    display:-webkit-box; 
    text-overflow:ellipsis; 
    -webkit-line-clamp:2; 
    width:100%;
    -webkit-box-orient: vertical;
    margin-top:22px;
    font-size:12px;
    font-family:PingFangSC-Light;
    color:rgba(115,115,115,1);
    line-height:22px;
    line-height:20px;
}
.money{
    font-size:20px;
    font-family:PingFangSC-Semibold;
    color:rgba(255,85,0,1);
    line-height:28px;
   
}
.team_right{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.doctor_name{
    font-size:18px;
font-family:PingFangSC-Regular;
color:rgba(0,0,0,1);
line-height:25px;
}
.doctor_type{
    font-size:14px;
    font-family:PingFangSC-Regular;
    color:rgba(0,128,255,1);
    line-height:20px;
}
.checkedDetail{
    width:84px;
    height:25px;
    background:rgba(255,128,0,1);
    border-radius:14px;
    color:#fff;
    font-size:10px;
    font-family:PingFangSC-Medium;
    color:rgba(255,255,255,1);
    text-align:center;
    line-height: 25px;
}